{% extends "base.html" %}

{% block body %}
<a href="{{ url_for("index") }}"><div id="data">
    <h2>{{ song["title"] }}</h2>
    <h3>{{ song["artist"] }}</h3>

    <div id="meta">
        {% for v in song["metadata"] %}
        <h4>{{ v }}</h4>
        {% endfor %}
    </div>
</div></a>

<form action={{ url_for("saveEditsToSong") }}>
    <label for="title">Title</label><br />
    <input type="text" id="title" name="title" value="{{ song["title"] }}"><br />
    <label for="artist">Artist</label><br />
    <input type="text" id="artist" name="artist" value="{{ song["artist"] }}"><br />
    <!-- parse metadata and display a label + input field -->
    <textarea id="music_lyrics">
{% for el in song["chords_lyrics"] %}{{ el }}

{% endfor %}
    </textarea><br />
    <input type="submit" value="Save">
</form>
{% endblock %}
