{% extends "base.html" %}

{% block body %}
    <a href="{{ url_for("showSong", uid = song["uid"]) }}"><div id="data">
        <h2>{{ song["title"] }}</h2>
        <h3>{{ song["artist"] }}</h3>

        <div id="meta">
            {% for key in song["metadata"] %}
            <h4>{{ key }}: {{ song["metadata"][key] }}</h4>
            {% endfor %}
        </div>
    </div></a>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method="post">
        <div id="form-ta">
            <label for="artist">Artist</label>
            <input type="text" id="artist" name="artist"
              value="{{ song["artist"] }}">
            <label for="title">Title</label>
            <input type="text" id="title" name="title"
              value="{{ song["title"] }}">
        </div>
        <textarea id="music_lyrics" name="music_lyrics">{{song["music_lyrics_string"]}}</textarea><br />
        <div id="form-meta">
            <label for="capo">Capo:</label>
            <input type="text" id="capo" name="capo"
              value="{{ song["metadata"]["capo"] }}">
            <label for="key">Key:</label>
            <input type="text" id="key" name="key"
              value="{{ song["metadata"]["key"] }}">
            <label for="tempo">Tempo:</label>
            <input type="text" id="tempo" name="tempo"
              value="{{ song["metadata"]["tempo"] }}">
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}
