{% extends "base.html" %}

{% block body %}
<div id="header">
    <h1>pepchords - practice & performance</h1>
</div>

<div id="container">
    <div id="sidebar">
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="{{ url_for("addSong") }}">add a song</a></li>
                <li><a href="{{ url_for("logPractice") }}">log practice</a></li>
            </ul>
        </nav>
    </div>

    <div id="songlist">
        <ul>
        {% for song in songlist %}
        <a href="{{ url_for("showSong", uid = song["uid"]) }}">
            <li>
                {{ song["artist"] }}<br />{{ song["title"] }}
            </li>
        </a>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
