{% extends "base.html" %}

{% block body %}
    <a href="{{ url_for("index") }}"><div id="data">
        <h2>Add a new song</h2>
    </div></a>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <form method="post">
        <div id="form-ta">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
            <label for="artist">Artist</label>
            <input type="text" id="artist" name="artist">
        </div>
        <textarea id="music_lyrics" name="music_lyrics"></textarea>
        <div id="form-meta">
            <label for="capo">Capo:</label>
            <input type="text" id="capo" name="capo">
            <label for="key">Key:</label>
            <input type="text" id="key" name="key">
            <label for="tempo">Tempo:</label>
            <input type="text" id="tempo" name="tempo">
        </div>
        <input type="submit" value="Save">
    </form>
{% endblock %}
