{% extends "base.html" %}

{% block body %}
<a id="to_songlist" href="{{ url_for("saveZoomLevel", uid = song["uid"]) }}"
    onclick="checkForFontChange()"><div id="data">
    <h2>{{ song["title"] }}</h2>
    <h3>{{ song["artist"] }}</h3>

    <div id="meta">
        {% for k in song["metadata"] %}
        <h4>{{ k }}: {{ song["metadata"][k] }}</h4>
        {% endfor %}
    </div>
</div></a>
<div id="edit_song">
    <a href="{{ url_for("edit", uid = song["uid"]) }}">edit</a>
</div>

<div id="song" style="font-size: {{ song["fontsize"] }}px">
    {% for el in song["music_lyrics"] %}
    <pre>{{ el }}</pre>
    {% endfor %}
</div>

<script src="{{ url_for("static", filename="zoomer.js") }}"></script>
{% endblock %}
